In [1]:
def sum_nums(a, b, c):
  return a + b + c

In [2]:
sum_nums(1, 2, 3)

6

In [8]:
# using tuple pcking and unpacking, we can give a function not certain number of args
# * is like a black hole!
def sum_num_2(*args):
  print(args)

In [9]:
sum_num_2(1, 2)

(1, 2)

In [10]:
sum_num_2(8, 7, 2)

(8, 7, 2)

In [11]:
def sum_num_3(a, b, *args):
  print(args)

In [13]:
# a = 3, b = 5 and the rest are in args
sum_num_3(3, 5, 6, 7, 8)

(6, 7, 8)

In [15]:
# using t as input of sum_num_2
t = (1, 2, 3, 4, 5, 6)
sum_num_2(*t)

(1, 2, 3, 4, 5, 6)

In [17]:
y = 1, 2, 3, 4, 5, 6
a, b, *rest = y

In [19]:
rest

[3, 4, 5, 6]

In [20]:
a

1

In [21]:
b

2

In [22]:
databse = [
  (1, 2, 3, 4, 5),
  (6, 7, 8, 9, 10),
  (11, 12, 13, 14, 15)
]

In [23]:
for t in databse:
  sum_num_2(*t)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)
(11, 12, 13, 14, 15)

In [24]:
names = [
  'Sepideh',
  'Sepehr',
  'Sogand'
]

In [26]:
def concat_string(seperator, *args):
  return seperator.join(args)

In [27]:
concat_string(' - ', *names)

'Sepideh - Sepehr - Sogand'

In [28]:
concat_string(', ', *names)

'Sepideh, Sepehr, Sogand'

In [29]:
t = (1, 2, 3)
d = {'name' : 'sepideh', 'age': 'Tehran'}

In [31]:
new_d = {**d, 'city': 'tehran'}

In [32]:
new_d

{'name': 'sepideh', 'age': 'Tehran', 'city': 'tehran'}

In [36]:
# as dict
def introduce_yourself(**kwargs):
  print(kwargs)

In [37]:
introduce_yourself(
  Name = 'Sepideh',
  Age = 24,
  Lan = 'Farsi'
)

{'Name': 'Sepideh', 'Age': 24, 'Lan': 'Farsi'}

In [41]:
# as dict
def introduce_yourself(name, **kwargs):
  print(name)
  print(kwargs)

In [42]:
introduce_yourself(
  'Sepideh',
  Age = 24,
  Lan = 'Farsi'
)

Sepideh
{'Age': 24, 'Lan': 'Farsi'}

### NEED MORE EXCERCISE