In [1]:
# List
[1, 2, 3, 4]

[1, 2, 3, 4]

In [2]:
['Sepideh', "Ali", "Sepehr"]

['Sepideh', 'Ali', 'Sepehr']

In [4]:
l = [1, 2, 3, 3]
l[0] = 0
l

[0, 2, 3, 3]

In [5]:
# Tuple
(1, 2, 3, 'Sepideh', 5)

(1, 2, 3, 'Sepideh', 5)

In [6]:
t = (1, 2, 3, 4, 5)
t[0] = 0

TypeError: 'tuple' object does not support item assignment

In [8]:
# Set
{1, 1, 1, 1, 2, 2, 3, 4, 5, 6, 6}

{1, 2, 3, 4, 5, 6}

In [9]:
# Dict
{'name': "sepideh", "age": "Soleimanian"}

{'name': 'sepideh', 'age': 'Soleimanian'}

In [11]:
test_dict = {'name': "sepideh", "age": "Soleimanian"}
test_dict["name"]

'sepideh'