In [1]:
# tupples are immutable lists

In [2]:
my_tuple = (1, 2, 3)

In [4]:
my_tuple[0] = 4

TypeError: 'tuple' object does not support item assignment

In [5]:
empty_tuple = ()

In [6]:
# tuple with length 1
t = ('A')
type(t)

str

In [7]:
tuple_with_len_1 = ('A',)
type(tuple_with_len_1)

tuple

In [8]:
t = (1, (2, 3), [1, 2], 'str')

In [10]:
t[2][0] = 99
t

(1, (2, 3), [99, 2], 'str')

In [11]:
t

(1, (2, 3), [99, 2], 'str')

In [12]:
t[::-1]

('str', [99, 2], (2, 3), 1)

In [22]:
t = ('sepideh', 'sara', 'sogand')

In [23]:
# does not mutate tuple. it creates a new one
new_tuple = t + ('elahe', 'niloofar')

In [24]:
new_tuple

('sepideh', 'sara', 'sogand', 'elahe', 'niloofar')

In [25]:
t = t * 3

In [26]:
t

('sepideh',
 'sara',
 'sogand',
 'sepideh',
 'sara',
 'sogand',
 'sepideh',
 'sara',
 'sogand')

In [27]:
'sepideh' in t

True

In [28]:
t.count('sepideh')

3

In [29]:
# inplace ops are not availabe in tupes

In [30]:
t.index('sogand')

2

In [33]:
# output of sorted() is alwyas a list. we should call tuple()
tuple(sorted(t))

('sara',
 'sara',
 'sara',
 'sepideh',
 'sepideh',
 'sepideh',
 'sogand',
 'sogand',
 'sogand')

In [34]:
tuple(reversed(t))

('sogand',
 'sara',
 'sepideh',
 'sogand',
 'sara',
 'sepideh',
 'sogand',
 'sara',
 'sepideh')