In [2]:
my_dict = {'name' : 'sepideh', 'age' : 24, 'country' : 'Iran'}

In [3]:
my_dict

{'name': 'sepideh', 'age': 24, 'country': 'Iran'}

In [4]:
my_dict['name']

'sepideh'

In [5]:
# Dicts are mutable  
my_dict['name'] = 'sara'

In [6]:
my_dict

{'name': 'sara', 'age': 24, 'country': 'Iran'}

In [7]:
del my_dict['name']

In [8]:
my_dict

{'age': 24, 'country': 'Iran'}

In [9]:
# in dicts, keys are unique

In [11]:
test_dict = {}
test_dict

{}

In [16]:
students_grades = {
  'Sepideh' : [19, 20, 17],
  'Sara' : 17,
  'Sogand' : 19.25,
}

students_grades

{'Sepideh': [19, 20, 17], 'Sara': 17, 'Sogand': 19.25}

In [17]:
test = dict(
  [
    ('sepideh', 19),
    ('mina', 17)
  ]
)

In [18]:
test

{'sepideh': 19, 'mina': 17}

In [ ]:
# we do not need " " here because there are var names.
test_2 = dict(sepideh = 24, mina = 18, sepehr = 21)
test_2

{'sepideh': 24, 'mina': 18, 'sepehr': 21}

In [20]:
# Mutable data types are unhashable
# Key aof dicts should be hashable(Like tuples)
# So, lists cannot be in dict's keys

In [21]:
hash((1,2))

-3550055125485641917

In [23]:
hash([1,2])

TypeError: unhashable type: 'list'

In [24]:
info = {
  'name': 'sepideh',
  'age': 24,
  'country' : 'Iran'
}

In [25]:
info['name']

'sepideh'

In [26]:
info['city']

KeyError: 'city'

In [27]:
info.get('name')

'sepideh'

In [ ]:
info.get('city')

In [29]:
print(info.get('city'))

None

In [30]:
info.get('age', 'idk')

24

In [32]:
info.get('city', 'city is not available in keys')

'city is not available in keys'

In [34]:
info.keys()

dict_keys(['name', 'age', 'country'])

In [35]:
info.values()

dict_values(['sepideh', 24, 'Iran'])

In [36]:
info.items()

dict_items([('name', 'sepideh'), ('age', 24), ('country', 'Iran')])

In [37]:
for key in info.keys():
  print(key)

name
age
country

In [38]:
for value in info.values():
  print(value)

sepideh
24
Iran

In [39]:
for items in info.items():
  print(items)

('name', 'sepideh')
('age', 24)
('country', 'Iran')

In [40]:
dict(info.items())

{'name': 'sepideh', 'age': 24, 'country': 'Iran'}

In [41]:
list(info.items())

[('name', 'sepideh'), ('age', 24), ('country', 'Iran')]

In [42]:
info['city'] = 'Tehran'

In [43]:
info

{'name': 'sepideh', 'age': 24, 'country': 'Iran', 'city': 'Tehran'}

In [44]:
info['country'] = 'USA'

In [45]:
info

{'name': 'sepideh', 'age': 24, 'country': 'USA', 'city': 'Tehran'}

In [50]:
# if key is availabe, the update and if key is new, then insert
info.update(
  {
  'Mahsa': 28,
  'Sepideh': 19,
  }
)

In [49]:
info

{'name': 'sepideh',
 'age': 24,
 'country': 'USA',
 'city': 'Tehran',
 'Mahsa': 28,
 'Sepideh': 19}

In [51]:
new_info = {
  'Team': 'A',
  'Company': "Google"
}

In [52]:
info.update(new_info)

In [53]:
info

{'name': 'sepideh',
 'age': 24,
 'country': 'USA',
 'city': 'Tehran',
 'Mahsa': 28,
 'Sepideh': 19,
 'Team': 'A',
 'Company': 'Google'}

In [55]:
del info['Team']

In [56]:
info

{'name': 'sepideh',
 'age': 24,
 'country': 'USA',
 'city': 'Tehran',
 'Mahsa': 28,
 'Sepideh': 19,
 'Company': 'Google'}

In [57]:
info.pop('age')

24

In [58]:
info

{'name': 'sepideh',
 'country': 'USA',
 'city': 'Tehran',
 'Mahsa': 28,
 'Sepideh': 19,
 'Company': 'Google'}

In [59]:
info.pop()

TypeError: pop expected at least 1 argument, got 0

In [60]:
info.popitem()

('Company', 'Google')

In [62]:
info

{'name': 'sepideh',
 'country': 'USA',
 'city': 'Tehran',
 'Mahsa': 28,
 'Sepideh': 19}

In [63]:
info.clear()

In [64]:
info

{}

In [65]:
countries_pop = {
  'Iran': 85,
  'Canada': 30,
  'USA': 300,
}

In [66]:
'China' in countries_pop

False

In [71]:
# <<in>> operator iterates over keys
'Iran' in countries_pop

True

In [72]:
85 in countries_pop.values()

True

In [73]:
countries_pop + {'germany' : 80}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [75]:
# inplace
countries_pop.update({'Germany' : 80})

In [76]:
countries_pop

{'Iran': 85, 'Canada': 30, 'USA': 300, 'Germany': 80}

In [77]:
countries_pop * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [78]:
countries_pop.keys()

dict_keys(['Iran', 'Canada', 'USA', 'Germany'])

In [80]:
countries_pop.values()

dict_values([85, 30, 300, 80])

In [82]:
countries_pop.items()

dict_items([('Iran', 85), ('Canada', 30), ('USA', 300), ('Germany', 80)])

In [83]:
list(countries_pop.items())

[('Iran', 85), ('Canada', 30), ('USA', 300), ('Germany', 80)]

In [85]:
countries_pop.get('Iraq', 'unavilable')

'unavilable'

In [86]:
countries_pop

{'Iran': 85, 'Canada': 30, 'USA': 300, 'Germany': 80}

In [87]:
countries_pop.update({'Iran': 90})

In [88]:
countries_pop

{'Iran': 90, 'Canada': 30, 'USA': 300, 'Germany': 80}

In [100]:
countries_pop.setdefault('China', 150)

150

In [101]:
countries_pop

{'Iran': 90,
 'Canada': 30,
 'USA': 300,
 'Germany': 80,
 'china': 150,
 'China': 150}

In [102]:
# setdefault will only add items to dict when key is not available
countries_pop.setdefault('Iran', 150)

90

In [103]:
countries_pop

{'Iran': 90,
 'Canada': 30,
 'USA': 300,
 'Germany': 80,
 'china': 150,
 'China': 150}

In [105]:
sorted(countries_pop)

['Canada', 'China', 'Germany', 'Iran', 'USA', 'china']

In [106]:
sorted(countries_pop.values())

[30, 80, 90, 150, 150, 300]

In [107]:
family_ages = {
  'parent1': {'name': 'John', 'age': 42},
  'parent2': {'name': 'Jane', 'age': 40},
  'chile': {'name': 'Doe', 'age': 12}
}

In [108]:
family_ages['parent1']['age']

42

In [109]:
family_ages['parent1']['age'] = 43

In [110]:
family_ages

{'parent1': {'name': 'John', 'age': 43},
 'parent2': {'name': 'Jane', 'age': 40},
 'chile': {'name': 'Doe', 'age': 12}}